
 *{
   /* not applicable */
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
   body {
    color: blueviolet;
       /*this is example of inheritance.This is not aplicable*/
       background-color:#fcfcfc;
       border-top: 10px solid rgb(125, 125, 180);
       position: relative;/*normal position*/
       width: 1240px;
 }
 .container{
   width: 1200px;
   /* margin-left: auto;
   margin-right: auto; */
   margin:0 20px;
 }
 .related-color {
   background-color: #f6efef;
    /*padding: 20px;
    padding-left: 40px;
    padding-right:  40px;*/
    padding:20px 40px ;
    margin-bottom: 60px;
   /* height: 0px; */
 }
 .image{
   width: 100%;
   height: 300px;
   
   
 }

 .aside {
    border-top: 5px solid rgb(136, 179, 98);
    border-bottom: 5px solid rgb(100, 164, 35);
    background-color: #fff9f9;
    padding: 50px 0;
    width: 300px;
    box-sizing: border-box;
 }
 h1,
 h2,
 h3,
 p,
 li
 {
 font-family: sans-serif;
 }

 h1,h2,h3{
   color: rgba(174, 190, 69, 0.954);
 }
 p{
   color: black;
   line-height: 1.5;
   margin-bottom: 20px;
 }
 li{
   color: black;
   margin-bottom: 10px;
 }
ul,
ol{
   margin-left: 50px;
    margin-bottom: 20px;
}

li:last-child{
   margin-bottom: 9px;
}
 h1{
    font-style: italic;
    font-size: 26px;
    text-transform: uppercase;
    float: left;
 }
 h2{
    font-size: 40px;
    margin-bottom: 30px;
 }
 h3{
   font-size: 24px;
   margin-bottom: 20px;
   margin-top: 30px;
 }
 
 article header p{
    font-style: italic;
    font-size: 15px;
 }
 .related-author{
   font-weight: bold;
 }
 #text{
   text-transform: uppercase;
 }
 .related_list{
   list-style: none;
   margin: 20px;
 }
   a:link{
      color: rgb(190, 168, 61);
      text-decoration:none;
   }
   a:visited{
      color: rgba(64, 194, 231, 0.942);
         text-decoration: none;
   }
   #realated_post{
      text-align: center;
      font-weight: bold;
      text-decoration: underline;
      color: rgb(3, 3, 108);

   }
li:first-child{
   font-weight:bold;
}
li:nth-child(even){
   color: rgb(129, 88, 88);
}
/* article p:last-child{
   color:rgb(82, 208, 208);
} */
   a:hover{
      color: brown;
      font-weight: bold;
      background-color: black;
      text-decoration:underline;
   }
   a:active{/*it show when we click in the link*/
      background-color: beige;
      color: rgb(163, 226, 247);
      text-decoration: underline skyblue;
   }
   .Botton{
      font-size: 20px;
      cursor: pointer;
      padding: 15px;
      position: absolute;
      bottom:50px;
      right:50px;
   }
   h1::first-letter{
      font-style: normal;
      margin-right: 5px;
   }
   h3 + p::first-line {
      color:red;
   }
   h2{
      position: relative;
   }
   h2::before {
content: "TOP";
background-color: yellow;
color:#444 ;
font-size: 16px ;
font-weight: bold;
display: inline-block;
padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
   }
   .clearfix::after{
      clear:both;
      content:" ";
      display: block;
   }

   .author{
      float:left;
      margin-bottom: 20px;
   }
   .author-details{
      float:left;
      margin-left: 20px;/* for gap after the image*/
   }

   nav{
      float: right;
      padding: 14px;
      font-size:18px;
   }
   h1{
      float:left;
      padding: 20px;
   }
aside{
   border-top: 5px solid rgb(100, 164, 35);
   border-bottom: 5px solid rgb(100, 164, 35);
   background-color: #f7f7f7 ; 
   width: 300px;

   }
   article{ 
      width: 825px;
      float: left;
      margin-bottom: 60px;
   }
   aside{
      width: 300px;
      float: right;
   }
   footer{
      clear: both;
   }
   nav a:link{
      margin-top: 10px;
      margin-right: 30px;
      color: rgb(82, 191, 231);
      display:inline-block;
   }
   nav a:link:last-child{
      margin-right: 0;
      text-align: center;
   }
  